/**
 * Demo page styles, all list scroll effects styles are in sctroll.css
 */

article {
  display: inline-block;
  margin: 20px;
}

h2 {
  font-size: 16px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

small {
  opacity: 0.6;
  font-style: italic;
  font-size: 14px;
  margin-left: 5px;
}

/**
 * List used for the demo page
 */
.wave {
  position: relative;
  height: 480px;
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  list-style: none;
  -webkit-perspective: 400px;
  -moz-perspective: 400px;
  -ms-perspective: 400px;
  -o-perspective: 400px;
  perspective: 400px;
}
.wave .list-spec {
  position: relative;
  padding: 70px;
  background: #eee;
  color: #252525;
  font-size: 18px;
  z-index: 2;

  -webkit-transform: translateZ(0px);
  -moz-transform: translateZ(0px);
  -ms-transform: translateZ(0px);
  -o-transform: translateZ(0px);
  transform: translateZ(0px);
}
ul .list-spec:nth-child(odd) {
  background: #fff;
}

.wave {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.box-img-1 {
  background: dimgray;
  width: 300px;
  height: 300px;
}

/* services styles */
.vc_custom_1590422250900 {
  padding-top: 3% !important;
  padding-right: 10% !important;
  padding-bottom: 3% !important;
  padding-left: 10% !important;
  background-color: #f9f9f9 !important;
}

.vc_custom_1581397840110 {
  padding-top: 0px !important;
}

.vc_custom_1582046075600 {
  padding-top: 0px !important;
}

.vc_custom_1582046088306 {
  padding-top: 0px !important;
}

.vc_custom_1582046110362 {
  padding-top: 0px !important;
}

.vc_custom_1582046127276 {
  padding-top: 0px !important;
}

.vc_custom_1582046142653 {
  padding-top: 0px !important;
}

.vc_custom_1581397840110 {
  padding-top: 0px !important;
}

.vc_custom_1581397840110 {
  padding-top: 0px !important;
}

.vc_custom_1584561539468 {
  padding-top: 9% !important;
  padding-right: 50px !important;
  padding-bottom: 6% !important;
  padding-left: 50px !important;
}

.vc_custom_1581397740318 {
  padding-top: 0px !important;
}

.vc_custom_1582316986601 {
  background-image: url("Images/OurStory/art-box-small.png") !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.vc_custom_1581397740318 {
  padding-top: 0px !important;
}

.vc_custom_1582317041817 {
  background-image: url("Images/OurStory/art-box-small.png") !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.vc_custom_1581397740318 {
  padding-top: 0px !important;
}

.vc_custom_1582317074517 {
  background-image: url("Images/OurStory/branding-2.jpg") !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.vc_custom_1581397740318 {
  padding-top: 0px !important;
}

.vc_custom_1582317096706 {
  background-image: url("Images/OurStory/web-2.jpg") !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.vc_custom_1581397740318 {
  padding-top: 0px !important;
}

.vc_custom_1582317149057 {
  background-image: url("Images/OurStory/print.jpg") !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.vc_custom_1581397740318 {
  padding-top: 0px !important;
}

.vc_custom_1582317178484 {
  background-image: url("Images/OurStory/stationary.jpg") !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.vc_custom_1581397740318 {
  padding-top: 0px !important;
}

.vc_custom_1582317227492 {
  background-image: url("Images/OurStory/branding-2.png") !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.vc_custom_1581397740318 {
  padding-top: 0px !important;
}

.vc_custom_1582317256604 {
  background-color: orangered;
  background-image: url() !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.vc_custom_1590086123990 {
  margin-bottom: 40px !important;
}

.vc_custom_1584561556580 {
  margin-bottom: 40px !important;
}

.vc_row:not(.home-zm-over) {
  width: 100%;
  margin: 0 auto !important;
}
